{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block content %}
<h1 class="pageTitle"> Help Section </h1>
<h3 class="inpBarTitle">How everything works?</h3>
    <p class="helpDes">So here wou will find how to work with every options. Here you will able to know about the features of this website</p>
<div class="helpContainer">
<h3>What is budget?</h3>
<p>Through creating budgets you can set a target of expanses. You can take weekly,monthly or yearly expanses target on any perticular category.
<h3>Add Category</h3>
<p>After you loged in to this website you have to creates some categories of expanses. You can find the Add category section inside home page.
    You can add categories according to your need</p>
</p>
<h3>Registeration & Login</h3>
<ol>
    <li>Click on register</li>
    <li>Register yourself with your details</li>
    <li>Go to login page and fill up the same details</li>
</ol>

<h3>How to create Category?</h3>
<ol>
    <li>Go to home page then add category section in the top</li>
    <li>Enter your category name</li>
    <li>Enter any description about that category or leave it empty</li>
    <li>Press "+Add" button</li>
</ol>
<p>Note : you can't create category with same name. Category names must be unique</p>

<h3>How to enter a category?</h3>
<ol>
    <li>Create categories</li>
    <li>Go to Categories section inside home page</li>
    <li>Find category according to your need</li>
    <li>Press "GoTo >" button to enter that category</li>
</ol>
<h3>How to add expanses?</h3>
<ol>
    <li>Enter a category</li>
    <li>Go to add new expanse section</li>
    <li>Fill details</li>
    <li>Press "+Add" button</li>
</ol>
<h3>How to filter expanses according to date?</h3>
<ol>
    <li>Chose a date</li>
    <li>Press "Sort" button</li>
</ol>
<p>To see details/Edit expanse/Delete Expanse : Press "Details>" button</p>
<h3>How to create budgets?</h3>
<ol>
    <li>Go to budget page</li>
    <li>Go to the top section(Add New Budget)</li>
    <li>Fill details</li>
    <li>Press "+Add" button</li>
</ol>
<h3>Feedbacks</h3>
<p>Below every page you will find a feedback form. If you want you can send us feedbacks using that form.Just fill up the form and press send</p>
</div>
{% endblock %}
